<div class="Rectangle_3_copy_97">
    <div class="buttons-container">
        <div>
            <span class="Set_Target">Set Target</span>
            <div class="Rectangle_3_copy_78">
                <span class="Jul_1___Jul_7_2">Jul 1 - Jul 7</span>
            </div>
        </div>
        <div class="close-button">
            <img class="close" ngSrc="../x.png" height="20" width="20" alt=""/>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; margin-top: 134px ">

        <div style="display: flex; align-items: center">
            <div style="display: flex; align-items: center">
                <div class="Rectangle_3_copy_94"><span class="_1">1</span></div>
            </div>

            <div style="margin-right: 15px">
                <div class="Rectangle_3_copy_84">
                    <div style="display: flex; flex-direction: column; max-width: 167px; align-items: start; gap: 12px">
                        <span class="Condition">Condition</span>
                        <div class="Rectangle_3_copy_83">
                            <span class="Drivers_performance">Gross</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83">
                            <span class="Drivers_performance">Rate per mile</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 256px; align-items: start; gap: 12px; margin-left: 11px">
                        <span class="Condition">Based on</span>
                        <div class="Rectangle_3_copy_83" style="width: 256px">
                            <span class="Drivers_performance">Drivers performance</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83" style="width: 256px">
                            <span class="Drivers_performance">Custom value</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 125px; align-items: start; gap: 12px; margin-left: 23px">
                        <span class="Condition">Metrics</span>
                        <div class="Rectangle_3_copy_83" style="width: 125px">
                            <span class="Drivers_performance">Top 10%</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83 Rectangle_3_copy_88" style="width: 125px">
                            <span class="Drivers_performance"></span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 81px; align-items: start; gap: 12px; margin-left: 9px">
                        <span class="Condition">Period</span>
                        <div class="Rectangle_3_copy_83" style="width: 81px">
                            <span class="Drivers_performance">Week</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83 Rectangle_3_copy_88" style="width: 81px">
                            <span class="Drivers_performance"></span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 145px; align-items: start; gap: 12px; margin-left: 11px">
                        <span class="Condition">Metrics based on</span>
                        <div class="Rectangle_3_copy_83" style="width: 145px">
                            <span class="Drivers_performance">Jun 24 - Jun 30</span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83 Rectangle_3_copy_88" style="width: 145px">
                            <span class="Drivers_performance"></span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; align-items: center; gap: 12px; margin-left: 11px">
                        <span class="Condition" style="margin-left: 0">Target</span>
                        <div class="Rectangle_3_copy_81">
                            <span class="_6_380">$6.380</span>
                        </div>
                        <div class="Rectangle_3_copy_81">
                            <span class="_6_380">$2.18</span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 177px; align-items: start; gap: 12px; margin-left: 13px">
                        <span class="Condition" style="margin-left: 0">Start calculating points after</span>
                        <div class="Rectangle_3_copy_83" style="width: 177px">
                            <span class="Drivers_performance" style="margin-right: 0">0%</span>
                        </div>
                        <div class="Rectangle_3_copy_83" style="width: 177px">
                            <span class="Drivers_performance" style="margin-right: 0">50%</span>
                        </div>
                    </div>

                    <div style="display: flex; align-items: flex-end; margin-left: 10px">
                        <div class="Rectangle_3_copy_86">
                            +
                        </div>
                    </div>
                </div>

                <div class="Rectangle_3_copy_89">
                    <span class="_2_combined_conditions"><span style="font-weight: 700">2</span> combined conditions</span>
                    <div style="display: flex; align-items: center">
                        <span class="Reward">Reward</span>
                        <div class="Rectangle_3_copy_87">
                            <span class="_50">$50</span>
                        </div>
                    </div>
                </div>
            </div>

            <img ngSrc="../dots.png" height="20" width="5" style="margin-bottom: 18px;" alt=""/>
        </div>


        <div style="display: flex; align-items: center; margin-top: 45px;">
            <div style="display: flex; align-items: center">
                <div class="Rectangle_3_copy_94" style="margin-bottom: 8px;"><span class="_1">2</span></div>
            </div>

            <div style="margin-right: 15px">
                <div class="Rectangle_3_copy_84" style="height: 64px;">
                    <div style="display: flex; flex-direction: column; max-width: 167px; align-items: start; gap: 12px">
                        <span class="Condition">Condition</span>
                        <div class="Rectangle_3_copy_83">
                            <span class="Drivers_performance"></span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 256px; align-items: start; gap: 12px; margin-left: 11px">
                        <span class="Condition">Based on</span>
                        <div class="Rectangle_3_copy_83" style="width: 256px">
                            <span class="Drivers_performance"></span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 125px; align-items: start; gap: 12px; margin-left: 23px">
                        <span class="Condition">Metrics</span>
                        <div class="Rectangle_3_copy_83" style="width: 125px">
                            <span class="Drivers_performance"></span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 81px; align-items: start; gap: 12px; margin-left: 9px">
                        <span class="Condition">Period</span>
                        <div class="Rectangle_3_copy_83" style="width: 81px">
                            <span class="Drivers_performance"></span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 145px; align-items: start; gap: 12px; margin-left: 11px">
                        <span class="Condition">Metrics based on</span>
                        <div class="Rectangle_3_copy_83" style="width: 145px">
                            <span class="Drivers_performance"></span>
                            <img ngSrc="../chevron.png" height="8" width="12" alt=""/>
                        </div>
                        <div class="Rectangle_3_copy_83 Rectangle_3_copy_88" style="width: 145px">
                            <span class="Drivers_performance"></span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; align-items: center; gap: 12px; margin-left: 11px">
                        <span class="Condition" style="margin-left: 0">Target</span>
                        <div class="Rectangle_3_copy_81">
                            <span class="_6_380"></span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; max-width: 177px; align-items: start; gap: 12px; margin-left: 13px">
                        <span class="Condition" style="margin-left: 0">Start calculating points after</span>
                        <div class="Rectangle_3_copy_83" style="width: 177px">
                            <span class="Drivers_performance" style="margin-right: 0"></span>
                        </div>
                    </div>

                    <div style="display: flex; align-items: flex-end; margin-left: 10px">
                        <div class="Rectangle_3_copy_86" style="background-color: #f3f8ff; color: #cae0ff">
                            +
                        </div>
                    </div>
                </div>

                <div class="Rectangle_3_copy_89">
                    <span class="_2_combined_conditions"><span style="font-weight: 700">1</span> condition</span>
                    <div style="display: flex; align-items: center">
                        <span class="Reward">Reward</span>
                        <div class="Rectangle_3_copy_87">
                            <span class="_50" style="color: rgb(164, 164, 164);">$0</span>
                        </div>
                    </div>
                </div>
            </div>

            <img ngSrc="../dots.png" height="20" width="5" style="margin-bottom: 8px;" alt=""/>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 24px">
            <div class="Rectangle_3_copy_96">
                <span class="Add_target">Add target</span>
            </div>
        </div>

    </div>

    <div class="Rectangle_3_copy_98">
        <span class="Confirm">Confirm</span>
    </div>

</div>
